/* //StudentNavbar */

.avatar{
    margin-left:0.5rem
}
.StudentNavbtm{
    background-color: rgb(236, 225, 236);
    padding: 10px;
}


/* Querylist */

.Studentqueries-list{
    max-width: 700px;
    margin: 10px auto;
    padding: 35px 10px;
    box-shadow: 0 0 15px -10px #2d3748;
    border-radius: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap:1.5rem
}

.dashcontainer{
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
    padding:6px;
     border-radius: 10px;
    width:650px;
    min-width: 400px;
   
  
}

.dash3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
}
.dash2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 1rem;
}
.querytitle{
    font-size: 1rem;
    cursor: pointer;
}
.querytitle:hover{
    opacity: 0.7;
    text-decoration: underline;
}
.stsp{
    display: flex;
    flex-direction: row;
}
.querystatus1{
    padding: 1px 13px;
    font-size: 0.7rem;
    border-radius: 8px;
}
.queryclose{
    padding: 1px 13px;
    font-size: 0.7rem;
    border-radius: 8px;
    border: 0.2px solid  rgb(1, 1, 61);
    color: rgb(1, 1, 61);
    text-decoration:none
}
.querycategory{
    background-color:#ece7ee ;
    color: #415069;
    padding:1px 13px ;
    border-radius: 8px;
    font-size: 0.8rem;

}
.mentorquerystatus{
    background-color:#ecc1be ;
    color: #d60e4a;
    padding:1px 13px ;
    border-radius: 8px;
    font-size: 0.8rem;
}
.raisedBy{
    font-size: 1rem;
    color: rgba(6, 85, 6, 0.884);
    font-weight: 700;
}
.querydate{
    color: #415069;
    font-size: 0.8rem;
}
.tag{
    color:gray;
    font-size: 1rem;
    margin-bottom: 5px;
}

/* Querydetails */

.QuerydetailsContainer{
    background-color: rgba(255, 255, 255, 0.801);
    -webkit-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
    padding:8px 20px;
     border-radius: 10px;
    width:550px;
    min-width: 400px;
    margin: 2rem auto;
}
.backbtn{
    border-radius: 8px;
    padding: 2px;
    color: rgb(1, 1, 61);
    background-color: #fff;
    border: 1px solid  rgb(1, 1, 61);
    font-weight: 10px;
    width: 100px;
    margin-left: 5px;
}
.Querydetailsrow2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.Querydetailsspan1{
    font-size: 0.7rem;
    color: gray;
}
.Querydetailsspan2{
    font-size: 0.9rem;
}
.Topic{
    color:rgb(2, 2, 44);
    font-size: 0.8rem;
    font-weight: bold;
}
.div1{
    width:300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
   margin: 20px auto;
}
.div2{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 15px;
}
.inpgrp{
    font-size: 0.8rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Category{
    font-size: 0.7rem;
    color: rgb(90, 88, 88);
    font-weight: 700;
}
.createbtn{
    border-radius: 8px;
    padding: 3px 1px;
   
    background-color:#5c1dc9;
    color: #fff;
    border:none;
    font-weight: 8px;
    font-size: 0.8rem;
    width: 70px;
    margin-left: 5px;
}
.cancelbtn{
    border-radius: 8px;
    padding: 3px 1px;
    color: rgb(1, 1, 61);
    background-color:#fff;
    border: 1px solid  rgb(1, 1, 61);
   
    font-weight: 8px;
    font-size: 0.8rem;
    width: 70px;
    margin-left: 5px;
}
.btnContainer{
    display: flex;
    justify-content: flex-end;
    margin-top:15px ;
    margin-bottom: 15px;
}
.stuinfo{
    display: flex;
    flex-direction: column;
}
